// DARK THEME
$dark-primary: rgb(24, 23, 23);
$dark-secondary: rgb(37, 37, 37, 0.7);
$dark-accent-one: rgb(216, 33, 155);
$dark-accent-two: rgb(17, 176, 216);
$dark-font: rgba(255, 255, 255, 0.85);

// LIGHT THEME
$light-primary: rgb(255, 255, 255);
$light-secondary: rgb(243, 243, 243);
$light-accent-one: rgb(243, 184, 23);
$light-accent-two: rgb(247, 202, 0);
$light-font: rgb(0, 0, 0);
