// DARK THEME
$dark-primary: rgb(5, 0, 27);
$dark-secondary: rgb(33, 28, 39);
$dark-accent-one: rgb(216, 33, 155);
$dark-accent-two: rgb(17, 176, 216);
$dark-font: rgba(255, 255, 255, 0.85);

// LIGHT THEME
$light-primary: rgb(255, 255, 255);
$light-secondary: rgb(211, 211, 211);
$light-accent-one: rgb(243, 184, 23);
$light-accent-two: rgb(247, 202, 0);
$light-font: rgb(0, 0, 0);
