@mixin gradient {
  background: var(--accent-one);
  background: linear-gradient(
    90deg,
    var(--accent-one) 0%,
    var(--accent-two) 100%
  );
}
.app {
  background-color: var(--primary);
  color: var(--font);
  // button {
  //   @include gradient;
  //   color: white;
  //   border: none;
  // }
}
