.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .toolbar {
    button {
      width: 200px;
    }
  }
  .todos {
    display: flex;
    justify-content: space-between;
    ul {
      min-width: 200px;
      padding: 20px;
      border: 1px solid lightgray;
      display: flex;
      flex-direction: column;
      list-style: none;
      li {
        padding: 20px;
        &:nth-child(2n) {
          background-color: rgba(0, 255, 0, 0.151);
        }
        &:nth-child(2n + 1) {
          background-color: rgba(251, 255, 0, 0.226);
        }
      }
    }
  }
}
