.navbar {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  .navbarMenu {
    display: flex;
    align-items: center;
    gap: 20px;
    nav {
      ul {
        display: flex;
        gap: 20px;
        list-style: none;
      }
    }
  }
}
