@mixin elementStyling {
  background-color: var(--secondary);
  color: var(--font);
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -6px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 16px -6px rgba(66, 68, 90, 1);
  // box-shadow: 2px 2px 16px -7px rgb(136, 136, 136);
  box-shadow: 3px 3px 16px -7px rgb(48, 48, 48);
}
.container {
  display: grid;
  padding: 30px;
  min-height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 0.1fr 100px 0.7fr;
  grid-template-areas:
    "calendar info info"
    "calendar info info"
    "calendar toolbar toolbar"
    "todo1 todo2 todo3";
  gap: 20px;
  background-color: var(--primary);
  .calendar {
    grid-area: calendar;
    @include elementStyling();

    display: flex;
    align-items: center;
    justify-content: center;
    .calendarRoot {
      * {
        color: var(--font);
      }
    }
  }
  .info {
    grid-area: info;
    @include elementStyling();
    padding: 20px;
    h1 {
      font-size: 32px;
    }
  }
  .toolbar {
    grid-area: toolbar;
    @include elementStyling();
    padding: 0 20px;

    form {
      height: 100%;
      display: flex;
      align-items: center;
      .addTaskInput {
        background-color: var(--secondary);
        border: none;
        border-bottom: 1px solid lightgray;
        padding: 10px;
        height: 50px;
        box-sizing: border-box;
        color: var(--font);
        font-size: 16px;
        flex: 2;
      }
      .addTaskBtn {
        flex: 1;
        height: 50px;
        background-color: var(--accent-one);
        color: var(--font);
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }
    }
  }
  #todo1 {
    grid-area: todo1;
  }
  #todo2 {
    grid-area: todo2;
  }
  #todo3 {
    grid-area: todo3;
  }
  .todo {
    @include elementStyling();
    z-index: 1;
    position: relative;
    .todoList {
      position: relative;
      padding: 0;
      display: flex;
      flex-direction: column;
      z-index: 2;
      margin: 0;
      padding: 10px 20px;
      height: 100%;
      gap: 10px;
      &.dragover {
        background-color: var(--accent-one);
        border-radius: 10px;
        opacity: 0.7;
        transition: 0.4s;
        display: flex;
        &::after {
          content: "+";
          position: absolute;
          align-self: center;
          justify-self: center;
          top: 30%;
          color: white;
          font-size: 128px;
        }
      }
      h2 {
        border-bottom: 1px solid lightgray;
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        span {
          display: flex;
          align-items: center;
        }
      }
      .todoListItem {
        padding: 10px;
        list-style: none;
        border-radius: 5px;
        border-left: 10px solid transparent;
        position: relative;
        background-color: var(--third);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 80px;
        z-index: 4;
        &.todo {
          border: 1px solid var(--accent-one);
          box-shadow: none;
          .todoListItemDown {
            flex-direction: row-reverse;
          }
        }
        &.inProgress {
          &:nth-child(2n + 1) {
            border-left: 10px solid var(--accent-one);
          }
          &:nth-child(2n) {
            border-left: 10px solid var(--accent-two);
          }
        }
        &.completed {
          border-left: 10px solid rgba(172, 255, 47, 0.61);
          background-color: rgba(28, 209, 28, 0.226);
          opacity: 0.7;
        }
        .todoListItemUp {
          display: flex;
          justify-content: space-between;
        }
        .todoListItemDown {
          display: flex;
          justify-content: space-between;
        }
        .listBtn {
          background: transparent;
          width: 20px;
          height: 20px;
          svg {
            width: 20px;
            height: 20px;
          }
          &:hover {
            cursor: pointer;
          }
        }
        .delBtn {
          position: absolute;
          top: 10px;
          right: 10px;
          background-color: transparent;
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .container {
    grid-template-areas:
      "calendar info"
      "toolbar toolbar"
      "todo1 todo1"
      "todo2 todo2"
      "todo3 todo3";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 100px 1fr 1fr 1fr;
    gap: 1.2rem;
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .container {
    grid-template-areas:
      "info"
      "calendar"
      " toolbar"
      "todo1"
      "todo2"
      "todo3";
    grid-template-columns: 100%;
    grid-template-rows: auto 400px 100px 1fr 1fr 1fr;
    gap: 1.2rem;
    padding: 10px;
  }
}
